.errorMessage{
    color:red;
}
span.required{
    color:red;

}


@media screen {
    div.divFooter {
        display: none;
    }
    
    .ds{
        display: none;
    }
}
@media print {
    div.divFooter {
        text-align: center;
        position: absolute;bottom:0px;
         bottom: 0;
         
    }
    
    .ds{
        display: none;
    }
}


@page{
       
       margin: 4mm;
     
     }

